  * {
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color:  #1E88E5;
  }

  .main{
      margin: 100px auto;
      width: 350px;
      background-color: #E3F2FD;
      padding: 60px;
  }

  h1 {
      text-align: center;
  }

  form {
    width: 100%;
  }

  input {
      display: block;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 2);
      padding: 10px;
      margin: auto;
      
  }

  .content {
    text-align:center;
  }

  .submit {
    background-color: #FF4081; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .buttons {
    text-align:center;
  }

  .buttons button{
    background-color: #212121; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .menu button{
    background-color: #1E88E5;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }